<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
     <!-- Just an image -->
     <nav class="navbar navbar-expand navbar-light bg-light justify-content-between">
        <a href="/">
            <h4 class="ml-4">Movies</h4>
        </a>

       <div class="nav navbar-nav">
           <a th:if="${ loggedIn }" th:href="@{/user/addmovie}" class="btn btn-primary mr-4">
               Add Movie
           </a>
           <form  th:if="${ loggedIn }" th:action="@{/logout}" method="post">
               <input type="submit" class="btn btn-primary" value="Sign Out"/>
           </form>
           <form th:if="${ !loggedIn }" th:action="@{/login}" method="get">
               <input type="submit" class="btn btn-primary" value="Sign In"/>
           </form>
       </div>

     </nav>
     
     <div class="container justify-content-center mt-4">

     </div>

</body>
</html>