<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movies</title>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'><link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        @import url("https://fonts.googleapis.com/css?family=Arimo:400,700");
    </style>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<!-- Just an image -->
<nav class="navbar navbar-expand navbar-light bg-light justify-content-between">
    <a href="/">
        <h4 class="ml-4">Movies</h4>
    </a>

    <div class="nav navbar-nav">
        <a th:if="${ loggedIn }" th:href="@{/user/addmovie}" class="btn btn-primary mr-4">
            Add Movie
        </a>
        <form  th:if="${ loggedIn }" th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-primary" value="Sign Out"/>
        </form>
        <form th:if="${ !loggedIn }" th:action="@{/login}" method="get">
            <input type="submit" class="btn btn-primary" value="Sign In"/>
        </form>
    </div>

</nav>

<div class="container-fluid justify-content-center mt-4 main-body">
    <section id="searchArea">
        <form th:action="@{/home}" method="GET" novalidate="novalidate">
            <div class="row d-flex">
                <div class="col-12 d-flex justify-content-center">

                    <div class="col-lg-4 col-md-5 col-sm-12 p-0">
                        <input type="text" name="name" th:value="${param.name != null ? param.name : ''}" class="form-control search-slt" placeholder="Enter Movie Title">
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                        <select class="form-control search-slt" name="category" id="category">
                            <option value="-1">All Categories</option>
                            <option th:each="category : ${categories}"
                                    th:value="${category.id}"
                                    th:text="${category.name}" th:selected="${param.category != null && (param.category.toString() == category.id.toString())}">
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                        <input type="submit" class="btn btn-primary wrn-btn" value="Search">
                    </div>

                </div>
            </div>
        </form>
    </section>

    <section id="movies">
        <div class="movie-container">
            <div th:each="movie : ${movies}" class="movie-card">
                <div class="movie-header moviePic" th:style="${'background: url(/image/'+movie.images+') no-repeat;background-size: 100% 367px; background-position: 100% 100%;'}">
                    <div class="header-icon-container">
                        <a href="#">
                            <i class="material-icons header-icon"></i>
                        </a>
                    </div>
                </div><!--movie-header-->
                <div class="movie-content">
                    <div class="movie-content-header">
                        <a href="#">
                            <h3 class="movie-title" th:text="${movie.title}"></h3>
                        </a>
                    </div>
                    <div class="movie-info">
                        <div class="info-section">
                            <label>Categories</label>
                            <span th:each="cat : ${movie.categories}" th:text="${cat.name}"></span>
                        </div><!--date,time-->
                        <div class="info-section">
                            <label>Rating</label>
                            <span th:text="${movie.rating}">/10</span>
                        </div><!--rating-->
                    </div>
                </div><!--movie-content-->
            </divt>
        </div>
    </section>

</div>

</body>
</html>