<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<!-- Just an image -->
<nav class="navbar navbar-expand navbar-light bg-light ">
    <a href="/">
        <h4 class="ml-4">Movies</h4>
    </a>
</nav>

<div class="container justify-content-center mt-4">
    <div class="row mt-4">

        <div class="container col-md-10  mt-4">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title text-left">Movie Titler</h4>
                    <div class="row d-flex justify-content-center">
                        <div class="conatiner col-md-6">
                            <img src="./avenge.png" alt="" style="width:100%;height: 60vh;">
                        </div>
                        <div class="container">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>